.experience-list {
    margin: 15px 0 15px 40px;
    padding: 0;
    color: rgb(229, 231, 235);
}

.experience-list li {
    margin-bottom: 10px;
    line-height: 1.8;
    text-align: justify;
    font-size: large;
    list-style-type: disc;
}

.experience-image {
    float: right;
    width: 250px;
    height: auto;
    margin-left: 50px;
    border-radius: 6px;
    margin-top: 15px;
    border-radius: 6px;
}

.tech-stack {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#content h3 {
    color: rgb(203, 213, 225);
    margin: 5px 0 15px 0;
    font-weight: normal;
    font-style: italic;
}

@media (max-width: 768px) {
    .experience-image {
        float: none;
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px auto;
    }
}