{% extends "layouts/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="content-main">
    <img src="{% static 'images/windriver-logo.jpg' %}" alt="Wind River" class="experience-image">
    
    <h2>{% trans "Senior Software Engineer - Wind River" %}</h2>
    <h3>{% trans "September 2020 - May 2024" %}</h3>
    <p>
        {% trans "Software Engineer member of the team in charge of the backend for an authentication and authorization system for a large-scale project." %}
    </p>
    <p><strong>{% trans "Some of my responsibilities and achievements:" %}</strong></p>
    <ul class="experience-list">
        <li>{% trans "Reviewed project specifications and designed technology solutions that met or exceeded performance expectations." %}</li>
        <li>{% trans "Optimization of code performance to improve user experience and system efficiency." %}</li>
        <li>{% trans "Regularly reviewed peer code contributions, offering constructive feedback to improve overall product quality." %}</li>
        <li>{% trans "Worked with project manager, developers, quality assurance, and customers to resolve technical issues." %}</li>
    </ul>
    <p class="tech-stack">
        <strong>{% trans "Tech Stack:" %}</strong> Node.js, TypeScript, PostgreSQL, Kafka, JWT, Mocha, Yup, Prisma, PyTest, Git, Jenkins
    </p>
</div>

<div class="content-main">
    <img src="{% static 'images/golabs-logo.jpg' %}" alt="GoLabs Tech" class="experience-image">
    
    <h2>{% trans "Software Engineer Intern - GoLabs Tech" %}</h2>
    <h3>{% trans "January 2020 - February 2020" %}</h3>
    <p>
        {% trans "Three weeks of internship learning about the work environment and technologies like Ruby on Rails, Docker, and Git." %}
    </p>
    <p><strong>{% trans "Some of my responsibilities and achievements:" %}</strong></p>
    <ul class="experience-list">
        <li>{% trans "Migration of a project from Ruby on Rail version 5 to Ruby on Rails version 6." %}</li>
        <li>{% trans "This internship was part of the prize for winning a programming contest." %}</li>
    </ul>
    <p class="tech-stack">
        <strong>{% trans "Tech Stack:" %}</strong> Ruby On Rails, JavaScript, Docker, Git.
    </p>
</div>

{% endblock %}