{% extends "layouts/layout.html" %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="content-main">
    <img src="{% static 'images/profile_picture.jpg' %}" alt="Profile Picture" class="content-image">
        
    <h2>Hello and welcome to my profile page!</h2>
    <p>
        My name is Daniel Gustavo Rodríguez Jiménez, I'm a Software Engineer with 4 years of experience. 
        I specialize in backend systems development, but I also have the knowledge and skills to work as a full-stack developer.
        I'm a huge technology and engineering enthusiast, and I often explore different topics that interest me, so I'm always learning new things. 
        I'm the kind of person who isn't satisfied with the bare minimum when it comes to software development. 
        I always try to implement different ideas and approaches to the various problems I encounter, striving to make the solution as polished and efficient as possible.
    </p>
</div>
{% endblock %}
