{% extends "layouts/layout.html" %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="collapsible-wrapper">
    <button type="button" class="collapsible">University</button>
    <div class="collapsible-content">
        <p>
            I graduated from the Costa Rica Institute of Technology with a Bachelor's degree in Computer Engineering.
            I must say that my time at university was very important because of the amount I learned, not only about my field 
            of study but also about aspects of life and even about myself. During my university years, I had many experiences, 
            both good and bad; I faced setbacks and made mistakes from which I had to learn and overcome. Beyond my talent, 
            I also had to demonstrate a strong attitude and great effort to earn my degree, and now I can proudly say that I 
            succeeded and overcame a huge challenge that is now the cornerstone of my professional career.
            Soy graduado del Tecnológico de Costa Rica en la carrera de Ingeniería en Computación con el grado de bachillerato universitario. 
            Debo decir que mi paso por la universidad fue muy importante por la cantidad de cosas que aprendí, no solo sobre la carrera sino 
            también sobre aspectos de la vida e incluso sobre mi mismo. Durante la universidad tuve muchas experiencias, buenas y malas, 
            tuve tropiezos y errores de los que tuve que aprender y levantarme. Más allá de mi talento, tuve también que poner 
            una gran actitud y esfuerzo para lograr obtener mi título universitario y ahora con orgullo puedo decir que logré salir adelante
            y superar un reto enorme que ahora es la piedra angular de mi carrera profesional.
        </p>
    </div>
</div>

<div class="collapsible-wrapper">
    <button type="button" class="collapsible">Certifications</button>
    <div class="collapsible-content">
        <p>
            <ul class="certifications-list">
                <li><a href="https://www.linkedin.com/learning/certificates/b7005846cfaf8257b8583e2ce0566b68382672415475fc2d8ed9a54bc2dd49db?trk=share_certificate" title="Learning Node.js - LinkedIn Learning" target="_blank">Learning Node.js</a></li>
                <br>
                <li><a href="https://www.linkedin.com/learning/certificates/5a7fe2cae3d672865dcabba52076f340bf988e335d687e8ddc00e31b8374f322?trk=share_certificate" title="GraphQL Essential Training - LinkedIn Learning" target="_blank">GraphQL Essential Training</a></li>
                <br>
                <li><a href="https://www.linkedin.com/learning/certificates/bc889e1ca844ab20b8c27e5de8d8431cee36920a6e78f6b54ddd6e539f639310?trk=share_certificate" title="Master TypeScript: Integration with Node - LinkedIn Learning" target="_blank">Master TypeScript: Integration with Node</a></li>
                <br>
                <li><a href="https://www.linkedin.com/learning/certificates/b83c8909f74365ef2ed1ea0a9c96dc704afafdc3f51dee788d963f68da8121ee?trk=share_certificate" title="Microservices with a coffee - LinkedIn Learning" target="_blank">Microservices with a coffee</a></li>
                <br>
                <li><a href="https://www.linkedin.com/learning/certificates/5cc9179c059b3a3e5a2b277a00b22517b12e56afff714c6dfbcbda435891be03?trk=share_certificate" title="Azure: Microservices Essential - LinkedIn Learning" target="_blank">Azure: Microservices Essential</a></li>
                <br>
                <li><a href="https://www.linkedin.com/learning/certificates/bd4f3006a8a7002fcb28cab017ae1c53770da6cbddc8537257fd74da9e6155ae?trk=share_certificate" title="Master Python: Data Manipulation with Pandas - LinkedIn Learning" target="_blank">Master Python: Data Manipulation with Pandas</a></li>
                <br>
                <li><a href="https://www.linkedin.com/learning/certificates/937b57b7a0ed754a08a476860ab3436c904012ad02b2909e59c3fe0308699256?trk=share_certificate" title="Leading with Vision - LinkedIn Learning" target="_blank">Leading with Vision</a></li>
                <br>
                <li><a href="https://www.udemy.com/certificate/UC-c887db15-0bf6-4149-8ff9-f2cab5bc8ecc/" title="OWASP TOP 10 Web 2021 + 2017 - Udemy" target="_blank">OWASP TOP 10 Web 2021 + 2017</a></li>
                <br>
                <li><a href="https://www.linkedin.com/in/daniel-gustavo-rodriguez-jimenez/details/certifications/1758230554346/single-media-viewer/?locale=es_ES&profileId=ACoAACuMChgBkrnxRvhAGxVnM3N2HRb1stdJN5M" title="Python Workshop - CapDevCR" target="_blank">Python Workshop</a></li>
                <br>
            </ul>
        </p>
    </div>
</div>

{% endblock %}
